@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <h1 class="display-4">Welcome to PokéClicker</h1>
    <h3>
        <a href="@Url.Action("Game", "Home")">Get started!</a>
    </h3>
</div>