<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PokemonClicker</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
    <link rel="stylesheet" href="~/PokemonClicker.styles.css" asp-append-version="true"/>
</head>
<body>
<main role="main" style="height: 100vh;">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
<script src="~/js/main.js"></script>

@if (ViewData["success"] != null)
{
    <script>
        Toastify({
            text: "@ViewData["success"]",
            duration: 3000,
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
              }
        }).showToast();
    </script>
}

@if (ViewData["error"] != null)
{
    <script>
        Toastify({
            text: "@ViewData["error"]",
            duration: 3000,
            style: {
                background: "linear-gradient(to right, #D0321D, #A91B0D)",
              }
        }).showToast();
    </script>
}

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>